<tui-loader
  [showLoader]="loading"
  [overlay]="true"
  size="xl"
>
  <div>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <tui-input
        tuiTextfieldSize="m"
        class="tui-space_top-3 tui-space_bottom-5"
        formControlName="label"
      >
        Название
      </tui-input>
      <tui-input
        [readOnly]="!!fieldData?.type"
        tuiTextfieldSize="m"
        class="tui-space_top-3 tui-space_bottom-5"
        formControlName="code"
      >
        Код
      </tui-input>
      <tui-select
        tuiTextfieldSize="m"
        *tuiLet="fieldTypes as items"
        [valueContent]="items ? stringify(items) : loading"
        formControlName="type"
        [tuiTextfieldLabelOutside]="!items?.length"
      >
        Тип
        <ng-template tuiDataList>
          <tui-data-list *ngIf="items?.length; else loading">
            <button
              *ngFor="let item of items"
              tuiOption
              [value]="item.value"
            >
              {{ item.label }}
            </button>
          </tui-data-list>
        </ng-template>
        <ng-template #loading>
          <tui-loader size="m" class="tui-space_vertical-3 loader"></tui-loader>
        </ng-template>
      </tui-select>
      <tui-input-tag
        *ngIf="f['type'].value === fieldTypeEnum.FieldStringArray; else typeString"
        class="tui-space_top-3 tui-space_bottom-5"
        tuiTextfieldSize="s"
        formControlName="value"
      >
        Значение
      </tui-input-tag>
      <ng-template #typeString>
        <tui-input
          tuiTextfieldSize="m"
          class="tui-space_top-3 tui-space_bottom-5"
          formControlName="value"
        >
          Значение
        </tui-input>
      </ng-template>
      <button
        tuiButton
        type="submit"
        size="m"
        [disabled]="formGroup.invalid"
      >
        {{ fieldData?._id ? 'Сохранить' : 'Добавить' }}
      </button>
    </form>
  </div>
</tui-loader>
