{
	email {$ACME_EMAIL}
}

{$SITE_DOMAIN} {
	encode zstd gzip
	reverse_proxy storefront:3000
}

www.{$SITE_DOMAIN} {
	redir https://{$SITE_DOMAIN}{uri} permanent
}

{$API_DOMAIN} {
	encode zstd gzip
	request_body {
		max_size 50MB
	}
	reverse_proxy backend:5000
}

{$ADMIN_DOMAIN} {
	encode zstd gzip
	reverse_proxy dashboard:8000
}
